header{
    border: 2px solid rgb(61, 140, 143);
    padding: 20px;
}
#logo-back {
    display:block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 800px;
}

#logo-front {
    display:block;
    margin-left: auto;
    margin-right:auto;
    position:absolute;
    top: 60px;
    left: 550px;
    z-index: 2;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

body{
    font-family: sans-serif;
    line-height: 1.5em;
    border: 20px solid rgba(255, 255, 255, 0.5);
    padding: 60px;
}
.nav {
    background-color: rgb(183, 180, 178); 
    list-style-type: none;
    text-align: center; 
    padding: 0;
    margin: 0;

  }
  .nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }

.stem-curric {
    text-align: center;
    font-weight: 30px;
    color:rgb(61, 140, 143);
}

h2{
    font-weight: 30px;
    font-size: 2em;
    text-align: center;
    padding: 20px;
}

#family {
    float:left;
    padding: 20px;
}

article {
break-inside: avoid;
  page-break-inside: avoid;
  background-color: rgb(183, 180, 178,0.5);
  border: 2px solid rgb(61, 140, 143);
  padding: 20px;
  margin: 60px;
  line-height: 2em;
}

footer{
    text-align: center;
}



