*{
    box-sizing: border-box;
}

  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  /* Style for the header and navigation*/
  header {
    background-color: rgb(183, 180, 178,0.5);
    padding: 20px;
    text-align: center;
  }
  
  #logo-front{
    opacity: 0.8;
    filter: alpha(opacity=50);
  }

  nav{
    overflow: hidden;
    background-color: #333;
  }

  a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
  }
  
  /* Style for creating columns. Overflow creates scrolling options*/
  article {
    float: left;
    height: 400px;
    overflow: auto;
    width: 33%;
    border: 1px solid  rgb(183, 180, 178,0.5);
    padding: 30px;
  }

  h1{
    font-size:2.5em;
      font-weight:30px;
      padding: 20px;
  }

  h2{
    text-decoration: underline;
    font-size:2em;
    font-weight:30px;
    padding: 20px;
  }

  h3{
    text-decoration: underline;
    font-weight: 30px;
    padding: 20px;
  }
  /* Clear floats after the columns */
  .info:after {
    /*content: "";*/
    display: inline-block;
    clear: both;
  }
  
  p{
    text-align: left;
  }